.taskCard {
    width: fit-content;
    max-width: 30%;
    margin: 5px;
    @media (max-width: 768px) {
        max-width: 100%;
      }
}

.taskContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
}

.taskLabel {
    margin-left: 10px;
    margin-right: 10px;
}

.taskButton {
    margin-left: 5px;
    margin-right: 5px;
}

.task-Incomplete {
    color: red;
}