<h1 class="taskLabel">Tasks</h1>
<div class="taskContainer">
    <mat-card *ngFor="let task of tasks" class="taskCard">
        <mat-card-header>
            <mat-card-title>{{task.title}}</mat-card-title>
            <mat-card-subtitle class="task-{{task.complete? 'Complete' : 'Incomplete'}}">{{task.complete? 'Complete' : 'Incomplete'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{task.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="toggleTask(task.id)" class="taskButton">Toggle Complete</button>
            <button mat-raised-button color="warn" (click)="removeTask(task.id)" class="taskButton">Remove</button>
          </mat-card-actions>
    </mat-card>
    <span *ngIf="tasks.length == 0">No Tasks Found</span>
</div>

