<mat-toolbar color="primary">
  <span routerLink="/" class="clickable">To Do</span>
  <span class="headerSpacer"></span>
  <button mat-button routerLink="/create">Add Task</button>
</mat-toolbar>

<router-outlet></router-outlet>
