<h1>Add Task</h1>
<form class="add-task-form">
    <mat-form-field class="add-task-field title">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Task title" [formControl]="titleFormControl">
    </mat-form-field>
    <mat-error *ngIf="titleFormControl.hasError('required') && titleFormControl.touched">
      Title is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="(titleFormControl.hasError('minlength') || titleFormControl.hasError('maxlength')) && (!titleFormControl.hasError('required') && titleFormControl.touched)">
      Title must be between <strong>3 and 25 characters</strong>
    </mat-error>
  
    <br>
    <mat-form-field class="add-task-field description">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="task description" [formControl]="descriptionFormControl"></textarea>
    </mat-form-field>
    <mat-error *ngIf="descriptionFormControl.hasError('required') && descriptionFormControl.touched">
      Description is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="descriptionFormControl.hasError('minlength') && (!descriptionFormControl.hasError('required') && descriptionFormControl.touched)">
      Description must be between <strong>Longer than 3 characters</strong>
    </mat-error>

    <button mat-button routerLink="/">Cancel</button>
    <button mat-raised-button type="submit" [disabled]="!(titleFormControl.valid && descriptionFormControl.valid)" (click)="addTask()" color="primary">Add</button>
  </form>
  