.add-task-form {
    width: 100%;
    padding: 5px;
}

mat-form-field {
    width: calc(100% - 10px)
}

button {
    margin-left: 5px;
}

h1 {
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    @media (min-width: 960px) {
        max-width: 30%;
    }
}